<!DOCTYPE html>

<html ng-app="hortaWeb">
    <head>
        <title>Codingteam Logs</title>
        <script src="assets/lib/angularjs/angular.js"></script>
        <script src="assets/lib/angular-ui-router/angular-ui-router.js"></script>

        <script src="assets/hortaWeb.js"></script>

        <script src="assets/services/RoomService.js"></script>

        <script src="assets/controllers/RoomController.js"></script>
        <script src="assets/controllers/LogController.js"></script>
    </head>
    <body>
        <div ui-view></div>
    </body>
</html>
